#d3Treemap {
    width: 100%;
    height: 600px;
    border: solid 1px #ccc;
}

#d3Treemap svg rect:hover {
    stroke: orange;
    stroke-width: 3;
}

#d3DecompTree {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}
